body {
  background-color: #f2f2f2;
}

select {
  color: gray !important;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
/* table, th, td,tbody, thead{
  border: 1px solid black;
} */

