body {
  background-color: #f2f2f2;
  overflow-x: hidden ;
}

select {
  color: gray ;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

/* table, th, td,tbody, thead{
  border: 1px solid black;
} */

